.header {
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: #fff;
  border-bottom: 1px solid #e5e7eb;
}

.header-user {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-title {
  display: flex;
  align-items: center;
  height: 100%;
}

.header h1 {
  margin: 0px;
}