.sidebar {
  width: 220px;
  background-color: #1e293b;
  color: white;
  padding: 20px;
}

.sidebar-title {
  font-size: 1.4em;
  margin-bottom: 20px;
}

.sidebar-links {
  list-style: none;
  padding: 0;
}

.sidebar-links li {
  margin: 15px 0;
}

.sidebar-links a {
  color: #e2e8f0;
  font-weight: 500;
}

.sidebar-links a:hover {
  color: #38bdf8;
}

.sidebar-account-btns button{
  width: 100%;
  padding: 10px;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  margin-top: 10px;
}
.sidebar-login-btn {
  background-color: #38bdf8;
}
.account-btn {
  background-color: #38bdf8;
}