.task p {
	display: inline;
}

.task {

	background-color: white;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding-left: 15px;
	padding-right: 15px;
	display: grid;
	grid-template-columns: 40vw 23vw auto;
	max-width: 80vw;

}

.taskName {
	font-weight: bold;
}