.create-task-container input,
.create-task-container textarea,
.create-task-container select {
  font-size: 1em;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 1px solid #cbd5e1;
}
.create-task-container button {
  background-color: #38bdf8;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
.create-task-container button:hover {
  background-color: #0ea5e9;
}