.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #f1f5f9;
}

.login-container form {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 10px;
}

.login-container input {
  padding: 10px;
  border: 1px solid #cbd5e1;
  border-radius: 5px;
}

.login-container button {
  background-color: #38bdf8;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0ea5e9;
}
