/* Styles For AllTasks.jsx */
.all-tasks-page {
  padding: 20px;
}

.sort-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.sort-label {
  font-weight: bold;
  margin-right: 8px;
}

.sort-btn {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  cursor: pointer;
  transition: background 0.2s;
}

.sort-btn:hover {
  background: #e2e2e2;
}


/* Styles For Login.js and Signup.js */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #f1f5f9;
}

.login-container form {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 10px;
}

.login-container input {
  padding: 10px;
  border: 1px solid #cbd5e1;
  border-radius: 5px;
}

.login-container button {
  background-color: #38bdf8;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0ea5e9;
}


/* Styles For CreateTask.js */
.create-task-container input,
.create-task-container textarea,
.create-task-container select {
  font-size: 1em;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 1px solid #cbd5e1;
}
.create-task-container button {
  background-color: #38bdf8;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
.create-task-container button:hover {
  background-color: #0ea5e9;
}


/* Styles For Dashboard.js */
.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: auto;
}

.dashboard-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
