#root {
  height: 100vh;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-layout {
  height: 0px;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.content {
  flex: 1;
  padding: 24px;
  background: #f6f6f9;
  overflow-y: auto;
  height: auto;
}

