.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-layout {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.Sidebar {
  width: 220px;
  background: #222;
  color: #fff;
}

.content {
  flex: 1;
  padding: 24px;
  background: #f6f6f9;
  overflow-y: auto;
}

